<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認画面</title>
</head>
<body>
    <div class="wrapper">
    <table border="1"width="500" height="500px" align="center">
        <tr align="center">
          {%if seat_A1 == "ok" %}
            <td bgcolor="1e90ff">A1</td>
          {% else %}
            <td bgcolor="ffffff">A1</td>
          {% endif %}


          {%if seat_B1 == "ok" %}
            <td bgcolor="1e90ff">B1</td>
          {% else %}
            <td bgcolor="ffffff">B1</td>
          {% endif %}


          {%if seat_C1 == "ok" %}
            <td bgcolor="1e90ff">C1</td>
          {% else %}
            <td bgcolor="ffffff">C1</td>
          {% endif %}

        <tr align="center">
          {%if seat_A2 == "ok" %}
            <td bgcolor="1e90ff">A2</td>
          {% else %}
            <td bgcolor="ffffff">A2</td>
          {% endif %}

          {%if seat_B2 == "ok" %}
            <td bgcolor="1e90ff">B2</td>
          {% else %}
            <td bgcolor="ffffff">B2</td>
          {% endif %}

          {%if seat_C2 == "ok" %}
           <td bgcolor="1e90ff">C2</td>
          {% else %}
            <td bgcolor="ffffff">C2</td>
          {% endif %}
      </tr>

          </tr>
          <tr align="center">
            {%if seat_A3 == "ok" %}
              <td bgcolor="1e90ff">A3</td>
            {% else %}
                <td bgcolor="ffffff">A3</td>
            {% endif %}

            {%if seat_B3 == "ok" %}
                <td bgcolor="1e90ff">B3</td>
            {% else %}
                <td bgcolor="ffffff">B3</td>
            {% endif %}

            {%if seat_C3 == "ok" %}
              <td bgcolor="1e90ff">C3</td>
            {% else %}
                <td bgcolor="ffffff">C3</td>
            {% endif %}
          </tr>
          <tr align="center">
            {%if seat_A4 == "ok" %}
              <td bgcolor="1e90ff">A4</td>
            {% else %}
                <td bgcolor="ffffff">A4</td>
            {% endif %}

            {%if seat_B4 == "ok" %}
                <td bgcolor="1e90ff">B4</td>
            {% else %}
                <td bgcolor="ffffff">B4</td>
            {% endif %}

            {%if seat_C4 == "ok" %}
              <td bgcolor="1e90ff">C4</td>
            {% else %}
                <td bgcolor="ffffff">C4</td>
            {% endif %}
          </tr>
          <tr align="center">
            {%if seat_A5 == "ok" %}
              <td bgcolor="1e90ff">A5</td>
            {% else %}
                <td bgcolor="ffffff">A5</td>
            {% endif %}

            {%if seat_B5 == "ok" %}
                <td bgcolor="1e90ff">B5</td>
            {% else %}
                <td bgcolor="ffffff">B5</td>
            {% endif %}

            {%if seat_C5 == "ok" %}
              <td bgcolor="1e90ff">C5</td>
            {% else %}
                <td bgcolor="ffffff">C5</td>
            {% endif %}
          </tr>
          <tr align="center">
            {%if seat_A6 == "ok" %}
              <td bgcolor="1e90ff">A6</td>
            {% else %}
                <td bgcolor="ffffff">A6</td>
            {% endif %}

            {%if seat_B6 == "ok" %}
                <td bgcolor="1e90ff">B6</td>
            {% else %}
                <td bgcolor="ffffff">B6</td>
            {% endif %}

            {%if seat_C6 == "ok" %}
              <td bgcolor="1e90ff">C6</td>
            {% else %}
                <td bgcolor="ffffff">C6</td>
            {% endif %}

          </tr>
          <tr align="center">
            {%if seat_A7 == "ok" %}
              <td bgcolor="1e90ff">A7</td>
            {% else %}
                <td bgcolor="ffffff">A7</td>
            {% endif %}

            {%if seat_B7 == "ok" %}
                <td bgcolor="1e90ff">B7</td>
            {% else %}
                <td bgcolor="ffffff">B7</td>
            {% endif %}

            {%if seat_C7 == "ok" %}
              <td bgcolor="1e90ff">C7</td>
            {% else %}
                <td bgcolor="ffffff">C7</td>
            {% endif %}

          </tr>
          <tr align="center">
            {%if seat_A8 == "ok" %}
              <td bgcolor="1e90ff">A8</td>
            {% else %}
                <td bgcolor="ffffff">A8</td>
            {% endif %}

            {%if seat_B8 == "ok" %}
                <td bgcolor="1e90ff">B8</td>
            {% else %}
                <td bgcolor="ffffff">B8</td>
            {% endif %}

            {%if seat_C8 == "ok" %}
              <td bgcolor="1e90ff">C8</td>
            {% else %}
                <td bgcolor="ffffff">C8</td>
            {% endif %}

          </tr>
      </table>
    </div>
    
</body>
</html>